.card {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.optional-bar {
    border-top: 1px solid silver;
}

.mat-card-avatar {
    background: silver;
}

.mat-card-title {
    margin-bottom: 10px;
}