<section id="home">
    <div class="row">
        <div class="col-md-2 grid-container">
            <div class="grid-box" [style.height]="'100vh'" [style.background-color]="'green'">
            </div>
        </div>
        <div class="col-md-8 grid-container">
            <div class="grid-box" [style.height]="'100vh'" [style.background-color]="'orange'">
            </div>
        </div>
        <div class="col-md-2 grid-container">
            <div class="grid-box" [style.height]="'100vh'" [style.background-color]="'blue'">
            </div>
        </div>
    </div>
</section>