<section id="all-products">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4 mb-4">
                <h1 class="h1-responsive">All Products</h1>
                <div class="row mt-5 justify-content-center">
                    <!-- <div class="col-md-3" *ngFor="let item of listProducts">
                        <afd-card [model]="item"></afd-card>
                    </div> -->
                    <ul>
                        <li *ngFor="let item of listX">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>