$sec_transition: .5s;

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

afd-navbar {
    z-index: 1000;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
afd-sidebar {
    .sidebar {
        transition: width $sec_transition;
        -webkit-transition: width $sec_transition;
    }
}

.body {
    flex-grow: 1;
    background-color: #e9ebee;
    overflow: auto;
    transition: all $sec_transition;
    -webkit-transition: all $sec_transition;

    .render {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

afd-footer {
    transition: all $sec_transition;
    -webkit-transition: all $sec_transition;
}