<div class="app-container">
  <afd-navbar [isFixedTop]="true"
              [sizeWidth]="config.navbar.width"
              [sizeHeight]="config.navbar.height"
              [imgLogo]="config.navbar.logo"
              (onChangeSidebar)="controlSidebar()"></afd-navbar>
  <afd-sidebar [sizeWidth]="config.sidebar.isExpanded ? config.sidebar.width.max : config.sidebar.width.min"
              [sizeHeight]="config.sidebar.height"></afd-sidebar>
  <div class="body" [style.margin-left]="config.sidebar.isExpanded ? config.sidebar.width.max : config.sidebar.width.min">
      <router-outlet></router-outlet>
      <!-- Routed views go here -->
  </div>
  <afd-footer [style.margin-left]="config.sidebar.isExpanded ? config.sidebar.width.max : config.sidebar.width.min"></afd-footer> 
</div>