nav.navbar {
    z-index: 1071;
    display: flex !important;
    flex-direction: row !important;
    color: #fff;
    background-color: #004D40;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

    .app-logo {
        display: inline-flex;

        .logo {
            width: 120px;
            margin-left: 10px;

            a {
                height: 100%;
                width: 100%;
                display: grid;
            }

            .img-logo {
                background: url('./../../../content/images/logo.svg') center no-repeat;
                background-size: 80%;
            }
        }
    }

    .nav-item {
        border-radius: 50%;
        color: #26A69A;

        a {
            &:hover {
                color: #fff;
            }
        }
    }
    
    .nav-right {
        flex-direction: row;
        flex-grow: 1;
        justify-content: flex-end;
    }

    //other
    .mat-icon {
        font-size: 1.25rem;
        vertical-align: middle;
    }

    .mat-button {
        min-width: inherit!important;
        line-height: inherit!important;
        font-family: inherit!important;
        font-size: inherit!important;
        font-weight: inherit!important;
    }
}