<nav class="navbar navbar-expand-lg flex-column flex-md-row"
    [class.sticky-top]="isFixedTop"
    [style.width]="sizeWidth"
    [style.height]="sizeHeight">
  <div class="app-logo">
    <span class="nav-item">
      <a mat-icon-button href="javascript:void(0);" (click)="changeSidebar()">
        <mat-icon>menu</mat-icon>
      </a>
    </span>
    <span class="logo nav-item">
      <a href="#">
        <span class="img-logo">
            <img class="img-fluid" [src]="imgLogo">
        </span>
      </a>
    </span>
  </div>

  <ul class="nav-right navbar-nav mr-auto mt-lg-0">
    <!-- <li class="nav-item">
        <a mat-button class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>home</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button class="nav-link" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <mat-icon>apps</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a mat-button class="nav-link" routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
      </li> -->
    <li class="nav-item">
      <a mat-icon-button href="javascript:void(0);">
        <mat-icon>search</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a mat-icon-button href="javascript:void(0);">
        <mat-icon>apps</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a mat-icon-button href="javascript:void(0);">
        <mat-icon>notifications</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a mat-icon-button href="javascript:void(0);">
        <mat-icon>face</mat-icon>
      </a>
    </li>
  </ul>
</nav>