<nav class="container navbar navbar-expand-lg flex-column flex-md-row"
    [class.sticky-top]="isFixedTop"
    [style.width]="sizeWidth"
    [style.height]="sizeHeight"
    [style.background-color]="backgroundColor"
    [style.color]="color">
  <div class="app-logo">
    <span class="nav-item">
      <a mat-icon-button href="javascript:void(0);" (click)="changeSidebar()">
        <mat-icon>menu</mat-icon>
      </a>
    </span>
    <span class="logo nav-item">
      <a routerLink="/">
        <span class="img-logo">
            <img class="img-fluid" [src]="imgLogo">
        </span>
      </a>
    </span>
  </div>

  <ul class="nav-right navbar-nav mr-auto mt-lg-0">
    <li class="nav-item">
      <a mat-icon-button href="javascript:void(0);" matTooltip="Search">
        <mat-icon>search</mat-icon>
      </a>
    </li>
    <!-- <li class="nav-item">
      <a mat-icon-button href="javascript:void(0);" 
      matTooltip="Dashboard"
      [matMenuTriggerFor]="appMenu">
        <mat-icon>apps</mat-icon>
      </a>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item> Settings </button>
        <button mat-menu-item> Help </button>
      </mat-menu>
    </li> -->
    <li class="nav-item" matTooltip="Notification">
      <a mat-icon-button href="javascript:void(0);">
        <mat-icon>notifications</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a mat-icon-button href="javascript:void(0);">
        <mat-icon>face</mat-icon>
      </a>
    </li>
  </ul>
</nav>