.navbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.mat-icon {
    font-size: 1.25rem;
    vertical-align: middle;
}

.nav-item {
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
}

.nav-item .active {
    background: rgba(255,255,255,.15);
    transition: .35s;
}

.dock-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
}

#navbarToggler02 .navbar-nav li a.active {
    background:rgba(255,255,255,.15);
}

.mat-button {
    min-width: inherit!important;
    line-height: inherit!important;
    font-family: inherit!important;
    font-size: inherit!important;
    font-weight: inherit!important;
}